.countryCard {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Display 7 columns in the grid */
    gap: 1rem; /* Adjust the gap between grid items */
    margin: 2px;
    padding: 5px
  }
  
  .countryCard_grid {
    text-align: center; /* Center align content */
    padding: 1rem; /* Add padding around each card */
    border: 1px solid #ccc; /* Optional: Add border for card */
  }
  
  .countryCard_grid img {
    display: block; /* Ensure image is block-level */
    margin: 0 auto 0.5rem; /* Center image and add space below */
  }
  .countryCard_textInput{
    width: 20%;
    height: 40px;
    margin: 12px;
    padding: 6px
  }
  