/* .countryCard{
  width: 20%;
  height: 40px;
  margin: 12px;
  padding: 6px
}
.cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    gap: 1rem;
    margin: 2px;
    padding: 5px
  }
  
  .countryCard_grid {
    text-align: center; 
    padding: 1rem;
    border: 1px solid #ccc; 
  }
  
  .countryCard_grid img {
    display: block; 
    margin: 0 auto 0.5rem; 
  } */
 
  .flagBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .countryCard {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    margin: 10px;
  }